
/* BASIC STYLES */

@font-face {
	font-family: "Comfortaa";	
	src: url("/css/fonts/Comfortaa-Bold.ttf") format("truetype"),	
}
body {
	font-family: 'Comfortaa';
}

a, button{
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}
a:hover,
button:hover{
	text-decoration: none;
}
.no-padding{
	padding-left: 0px;
	padding-right: 0px;
}
img{
	max-width: 100%;
	height: auto;
}
ul{
	list-style: none;
	padding-left: 0px;
	margin-left: 0px;
}

th{
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	color:  #440008;

}
tr{
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	color: #440008;
}



/* BUTTONS */
.pisi-pink{
			background-color: #bc4842;
}
		
.pisi-button_default{
			background-color: #bc4842;
			color: #fff;
			font-size: 15px;
			text-transform: uppercase;
			padding: 6px 12px;
			margin: 15px 0px;
}
.pisi-button_default:hover,
.pisi-button_default:focus{
			background-color: #222;
			color: #fff;
			text-decoration: none;
}
.pisi-button_round{
			background-color: #bc4842;
			color: #fff;
			font-size: 15px;
			text-transform: uppercase;
			padding: 9px 18px;
			line-height: 30px;
			height: 30px;
			border-radius: 15px;
}
.pisi-button_round:hover,
.pisi-button_round:focus{
			background-color: #222;
			color: #fff;
			text-decoration: none;
}
.pisi-button_yellow{
			background-color: #d99232;
			color: #440008;
			font-size: 15px;
			text-transform: uppercase;
			padding: 9px 18px;
			line-height: 30px;
			height: 30px;
			border-radius: 15px;
}
.pisi-button_yellow:hover,
.pisi-button_yellow:focus{
			background-color: #222;
			color: #fff;
			text-decoration: none;			
}

.pisi-button_dark{
			background-color: #440008;
			color: #fff;
			font-size: 15px;
			text-transform: uppercase;
			padding: 6px 12px;
			margin: 15px 0px;
}
.pisi-button_dark:hover,
.pisi-button_dark:focus{
			background-color: #222;
			color: #fff;
			text-decoration: none;
}


/* custom file input button */

/*
	label.myLabel input[type="file"] {
		position: fixed;
		top: -1000px;
	}
	.pisi-input_file {
		border: 2px solid #AAA;
		border-radius: 4px;
		padding: 2px 5px;
		margin: 2px;
		background: #DDD;
		display: inline-block;
	}
	.pisi-input_file:hover {
		background: #CCC;
	}
	.pisi-input_file:active {
		background: #CCF;
	}
	.pisi-input_file:invalid + span {
		color: #A44;
	}
	.pisi-input_file:valid + span {
		color: #4A4;
	}
*/

/* ERRORS */



/* HEADINGS */
h1{
	font-size: 28px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	color: #440008;
}

h2{
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	color: #440008;
}
h2 .left{	
	text-align: left;
	color: #c4463e;
}

h3{
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	color: #440008;
}

h3 .left{	
	text-align: left;
	color: #440008;
	float: left;
}

h4{
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	color: #440008;
}


h5{
	font-size: 16px;
	text-transform: uppercase;
	text-align: left;
	font-weight: bold;
	color: #440008;
}
h5 .center{		
	float: center;
	text-align: center;
}

/* ERRORS */

.has-error{
	color:red;
}

/* HEADER */
/*
.header {
   // position: fixed;
	//overflow: hidden;
	// display:block;

}
*/

/* NAV - UPPER */

.pisi-nav_upper{
	//margin-bottom: 30px;
	background-color: #f9f9f9;
}

.pisi-nav_upper nav{
	overflow: hidden;
}

.pisi-nav_upper nav a{
    float: right;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    padding: 12px 22px 12px;
    color: #222;
    text-transform: uppercase;
}

.pisi-nav_upper nav a:hover{
	color: #bc4842;
}

/* NAV - BRAND */
.pisi-brand{
	overflow: hidden;
}
.pisi-brand_logo{
	margin: 30px 0px;
}

.pisi-brand_logo .logo-text {	
	float: left;
	/*line-height: 120px;*/	
	font-weight: bold;	
	margin-top: 30px;
}

.pisi-brand_logo .logo-text .pisi-title{
	font-size: 30px;
	/*line-height: 120px;*/
	text-transform:uppercase;
	color: #440008;
}
.pisi-brand_logo .logo-text .pisi-title-shop{
	font-size: 16px;	
	color: #d99232;	
}

.pisi-brand_logo img{
	height: 120px;
	width: 120px;
	float: left;
	margin-right: 10px;
}

.pisi-brand_search{

}
.pisi-brand_search form{
	display: block;
	margin-top: 75px;
	text-align: center;
	float: right;
}
.pisi-brand_search form input[type="text"]{
	height: 30px;
	/*border: 1px  solid: #d9d9d9;*/
	/*color: #d9d9d9;*/
	/*solid: 	#000000;	*/
	border: 1px solid LightGray;
    border-radius: 4px;
	
	line-height: 30px;
	float: left;
	
}
/*
.pisi-brand_search .search-rounded {
	background:  url("/img/rounded_text_input.png") no-repeat left top;
	padding: 8px;
	float: left;
}*/
.pisi-brand_search form input[type="image"]{
	height: 30px;
	margin-left: 10px;
	float: left;
}
.pisi-brand_cart{

}
.pisi-brand_cart img{
	height: 60px;
	width: auto;
	margin-top: 60px;
	float: right;
}

/* NAV - LOWER */

.pisi-nav_lower{
	//overflow: hidden;
	background-color: #40020a;	
/*	position: fixed;*/
	
	position: sticky;	
	width: 100%;	
	margin-top: 0;
	top:0;
	z-index: 100;
}
.pisi-nav_lower nav{
/*position: sticky;	*/
	z-index: 100;
}
.pisi-nav_lower nav a{
	font-size: 18px;
    line-height: 24px;
    padding: 21px 30px 21px;
    /*color: rgba(255,255,255,0.7); white*/
	 color: rgba(217,146,50,0.8);
    text-transform: uppercase;
    //overflow: hidden;
    display:block;
    float: left;
    letter-spacing: 1px;
	font-weight: bold;
   /* position: relative;*/
}
.pisi-nav_lower nav a:hover{
	color: rgba(255,255,255,1);
	/*color: rgba(217,146,50,1);*/
}
.pisi-nav_lower nav a ul{
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 80px;
	background-color: green;
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
}
.pisi-nav_lower nav a ul.is-visible{
	opacity: 1;
	pointer-events: all;
	position: absolute;
	top: 50px;
}

/* NAV - MAIN CATEGORIES */

.pisi-nav_main-cat{
	//overflow: hidden;
	background-color: #d99232;
	position: sticky;	
	width: 100%;	
	margin-top: 0;
	top:0;
	z-index: 90;
}
.pisi-nav_main-cat nav{
	z-index: 90;
}
.pisi-nav_main-cat nav a{
	font-size: 14px;
    line-height: 12px;
    padding: 10px 8px 8px;
	color: #440008;   
    display:block;
    float: left;
    letter-spacing: 1px;	
	text-transform: uppercase;	
	font-weight: bold;
}
.pisi-nav_main-cat nav a:hover{
	color: rgba(255,255,255,1);
	
	
}
.pisi-nav_main-cat nav a ul{
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 80px;
	background-color: green;
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
}
.pisi-nav_main-cat nav a ul.is-visible{
	opacity: 1;
	pointer-events: all;
	position: absolute;
	top: 50px;
}

/* NAV - SUB CATEGORIES */

.pisi-nav_sub-cat{
	//overflow: hidden;
	background-color: #d99232;
	position: sticky;	
	width: 100%;	
	margin-top: 0;
	top:0;
	z-index: 90;
}
.pisi-nav_sub-cat nav{
	z-index: 90;
}
.pisi-nav_sub-cat nav a{
	font-size: 14px;
    line-height: 10px;
    padding: 4px 8px 8px;
	color: #440008;   
    display:block;
    float: left;
    letter-spacing: 1px;	
	text-transform: uppercase;	
}
.pisi-nav_sub-cat nav a:hover{
	color: rgba(255,255,255,1);
	
	
}
.pisi-nav_sub-cat nav a ul{
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 80px;
	background-color: green;
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
}
.pisi-nav_sub-cat nav a ul.is-visible{
	opacity: 1;
	pointer-events: all;
	position: absolute;
	top: 50px;
}



/* CONTEINER */

.w3-container{
	/*position:relative;*/    
    left:0px;
    right:0px;
    bottom:50px;
   /* overflow-y:scroll;*/
	flex: 1; 
	overflow: auto;
	z-index: 0;
}	
 .pisi-paging {
	display: block;	
	text-align: center;
	float: center;
	bottom:50px;
		
	font-size: 18px;
	color: #40020a;
	line-height: 30px;
	font-weight: bold;
}

/* GRID_PRODUCTS */



.pisi-sort_buttons {
	margin-top: 10px;
}

.pisi-grid_products {
	z-index: -1;
}

/*
 display:block;
    width:100%;
    height:70px;

 .wrap{
	background-color: #f9f9f9;
	padding: 8px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
	display: inline-block;
	max-height: 30%;
}
*/


.pisi-grid_products ul li .wrap{
	background-color: #f9f9f9;
	padding: 8px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
	display: inline-block;
	height:300px;
	width:350px;
	/*max-height: 30%;*/
}

.pisi-grid_products ul li .wrap .products_img{
	float: center;
	height:150px;
	width: "auto";
	align: "center"
	display: block;
	
}

.pisi-grid_products ul li{
	padding: 5px;
	margin-top: 15px;
	
}

.pisi-grid_products ul li .wrap .products_title{
	display: table;
	height:40px;
}

.pisi-grid_products ul li .wrap .products_title .table-view{
	display: table-cell;
	vertical-align: middle;
	height:50px;
}

.pisi-grid_products ul li h3{
	margin: 15px 0px 15px!important;
	color: #222;	
}

.pisi-grid_products ul li .more-info{
	overflow: hidden;
}

.pisi-grid_products ul li .more-info .price{
	float: left;
	font-size: 18px;
	color: #40020a;
	line-height: 30px;
	font-weight: bold;
}

.pisi-grid_products ul li .more-info .old-price{	
	float: left;
	font-size: 15px;
	color: #40020a;
	line-height: 30px;	
	text-decoration: line-through;
}

.pisi-grid_products ul li .more-info .special-price{
	float: left;
	font-size: 18px;	
	line-height: 30px;
	font-weight: bold;
	color:  #c4463e;
}

.pisi-grid_products ul li .more-info a{
	float: right;
	margin: 0px;
}

/* PRODUCT DETAIL */

.pisi-item{
	
}
.pisi-item .image{
	float: left;
	max-height: 60%;
	left: 10px;	
	
	height: 400px;
	width: auto;
	min-height: 400px;
	min-width: 600px;
/*	background-size: cover;*/
	
}
.img-big{
	width: "auto";
	height: "400px";
	min-height: "400px";
	min-width: "600px";
	background-size:cover;
}


.pisi-item .more-info{
	float: right;
	/*width: 50%;*/
/*	position: fixed;*/
  /**  right: 10px;*/
}


.pisi-item .more-info .description{
	border: 1px;
	/*position: relative;*/
}

.pisi-item .price{
	float: left;
	font-size: 24px;
	color: #40020a;
	line-height: 30px;
	font-weight: bold;
}

.pisi-item .old-price{	
	float: left;
	font-size: 20px;
	color: #40020a;
	line-height: 30px;	
	text-decoration: line-through;
}

.pisi-item .special-price{
	float: left;
	font-size: 26px;	
	line-height: 30px;
	font-weight: bold;
	color:  #c4463e;
}

.comments{
	float: right;
	/*position: relative;
    right: 10px;*/
}
/*
.addincart{
	float: center;
	display: block;
	/*
    right: 10px;
	bottom: 100px;
	position: fixed;*/
}
*/
/*DROP - DOWN MENUS*/
/*
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
*/
